*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content{
    background-color: rgb(0, 128, 255);
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content-2{
    background-color: rgb(0, 128, 255);
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.inner-content{
    background-color: rgb(0, 255, 13);
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mt-50px{
    margin-top: 50px;
}